*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

header {
    width: 100%;
    height: 35%;
    background-color: black;
    
}

.banner {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 1px #CB6CE6;
}



.info {
    margin-top: 2%;
    display: grid;
    
}

.bio {
    text-align: center;
}

.bio h3 {
    margin-bottom: 1%;
}

.container {
    background-color: antiquewhite;
    padding: 2%;
    width: 50%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    display: block;
}

.lista-de-tarefas {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.lista-de-tarefas img {
    width: 100%;
    height: 100%;
}

.projects {
    text-align: center;

}
