*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

header {
    width: 100%;
    height: 35%;
    background-color: black;
    
}

.banner {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 1px #CB6CE6;
}

.info {
    margin-top: 2%;
    display: grid;
    
}

.container {
    background-color: antiquewhite;
    padding: 2%;
    width: 35%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    display: block;
}

.lista-de-tarefas {
    width: 100%;
    height: 100%;
}

.lista-de-tarefas img {
    width: 100%;
    height: 100%;
}

