*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

header {
    width: 100%;
    height: 35%;
    background-color: black;
    
}

.banner {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 1px #CB6CE6;
}



.info {
    color: black;
    margin-top: 2%;
    display: grid;
    
}

.bio {
    text-align: center;
}

.bio h2 {
    margin-bottom: 2%;
}

.bio h3 {
    margin: 2% 0 2% 0;
} 

.container {
    box-shadow: 2.5px 2.5px 4px #CB6CE6;
    border-radius: 12px;
    background-color: white;
    padding: 2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.container h2 {
    display: block;
}

.my-projects {
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
    border-radius: 12px;
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 8px  rgb(29, 29, 29);
}

.my-projects h3 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.my-projects img {
    width: 85%;
    height: 100%;
}


.projects {
    text-align: center;
}

.projects h2 {
    margin-bottom: 2%;
}

.social-logo {
    width: 5vh;
}

footer {
    background-color: black;
    text-align: center;
    margin-top: 1%;
    color: white;
    font-size: x-small;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(207, 206, 206);
}

footer a:active{
    color: rgb(119, 118, 118);
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .my-projects {
        width: 100%;
    }
}

